.DS_Store
node_modules
.worktrees
.sst
.env
.env.local
.idea
.vscode
.codex
.mimocode
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
**/.omo
.omo/
/result
refs
Session.vim
/devcode.json
a.out
target
.scripts
.direnv/
.devcode

# Local dev files
devcode-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build
tsconfig.tsbuildinfo
patches